<div class="wrapper">
	<!-- Main Header -->
	<main-header></main-header>
	<!-- Left side column. contains the logo and sidebar -->
	<sidebar></sidebar>

	<!-- Content Wrapper. Contains page content -->
	<div id="main" class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<h1>
				Page Header
				<small>Optional description</small>
			</h1>
			<!--<ol class="breadcrumb">
				<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
				<li class="active">Here</li>
			</ol>-->
		</section>

		<!-- Main content -->
		<section class="content">

			<!-- Your Page Content Here -->
			<div ui-view="layout"></div>
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Control Sidebar -->
	<control-sidebar></control-sidebar>
	<!-- Add the sidebar's background. This div must be placed
	immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->